.header{
    height: 50px;
    background: #fff;
}
.nav-wrapper ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}
.nav_profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
}