<header class="header">
  <div class="wrap">
    <nav class="top_nav">
      <div class="logo">
       <a ><img src="assets/mypay-logo.png"></a>
      </div>
      <div class="nav-wrapper">
        <ul>
          <li class="nav_profile has_dropdown">
            <a >
              <img src="assets/default.png" />
            </a>
            <ul class="submenu">
              <li>
                <a>Profile</a>
              </li>
              <li>
                <a>Change Password</a>
              </li>
              <li>
                <a (click)="logout()">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
