<div class="dialog-header">
  <h3 mat-dialog-title>Register New Company</h3>
  <p>Please fill in the following form and submit.</p>
</div>
<div class="dialog-content" mat-dialog-content>
  <form>
  
    <table class="example-full-width" cellspacing="10px">
      <tr>
        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Company Name</mat-label>
                <input matInput placeholder="Eg: Smart Card Nepal" />
              </mat-form-field>
        </td>
        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>User Name</mat-label>
                <input matInput />
              </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="email@mail.com" />
              </mat-form-field>
        </td>
        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Telephone</mat-label>
                <span matPrefix>+977 &nbsp;</span>
                <input type="tel" matInput placeholder="9851000000">
              </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput />
              </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Address</mat-label>
                <textarea matInput placeholder="Radhe Radhe, Bhaktapur..."></textarea>
              </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Role</mat-label>
                <input type="password" matInput />
              </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</div>
<div class="dialog-footer" mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
