<div class="limiter">
    <div class="container-login">
        <div class="wrap-login">
            <form class="login-form validate-form">
                <div class="login-logo">
                    <img src="./assets/mypay-logo.png" alt="MyPay logo">
                </div>
                <div class="login-heading">
                    <h3 class="login-form-title">
                        Login 
                    </h3>
                    <p>
                        Welcome! Log in to your MyPay account
                    </p>
                </div>
                
                <div class="wrap-input validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <input class="input" type="text" name="username">
                    <span class="focus-input" data-placeholder="UserName"></span>
                </div>

                <div class="wrap-input validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <input class="input" type="password" name="password">
                    <span class="focus-input" data-placeholder="Password"></span>
                </div>

                <div _ngcontent-tex-c55="" class="form-check remember_me_wrap">
                    <input
                      _ngcontent-tex-c55=""
                      type="checkbox"
                      id="remember_me"
                      class="form-check-input"
                    /><label
                      _ngcontent-tex-c55=""
                      for="remember_me"
                      class="form-check-label"
                      >Remember Me</label
                    >
                  </div>

                <div class="container-login-form-btn">
                    <div class="wrap-login-form-btn">
                        <div class="login-form-bgbtn"></div>
                        <button class="login-form-btn">
                            Login
                        </button>
                    </div>
                </div>

                <div class="text-center btn-bottom">
                    <span class="txt1">
                        Don’t have an account?
                    </span>

                    <a class="txt2" href="register.html">
                        Sign Up
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
