<div class="limiter">
  <div class="container-login">
    <div class="wrap-login">
      <form
        class="login-form validate-form"
        (ngSubmit)="onSubmit()"
        [formGroup]="loginForm"
      >
        <div class="login-logo">
          <img src="./assets/mypay-logo.png" alt="MyPay logo" />
        </div>

        <div class="login-heading">
          <h3 class="login-form-title">Login</h3>
          <p>Welcome! Log in to your MyPay account</p>
        </div>

        <div class="wrap-input validate-input" data-validate="Enter password">
          <input class="input" type="text" name="username" />
          <span class="focus-input" data-placeholder="UserName"></span>
        </div>

        <div class="wrap-input validate-input" data-validate="Enter password">
          <input class="input" type="password" name="password" />
          <span class="focus-input" data-placeholder="Password"></span>
        </div>

        <div class="form-check remember_me_wrap">
          <input
            type="checkbox"
            id="remember_me"
            class="form-check-input"
          /><label for="remember_me" class="form-check-label"
            >Remember Me</label
          >
        </div>

        <div class="container-login-form-btn">
          <div class="wrap-login-form-btn">
            <div class="login-form-bgbtn"></div>
            <button class="login-form-btn">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
