<div class="limiter">
  <div class="container-login">
    <div class="wrap-login">
      <form
        class="login-form validate-form"
        (ngSubmit)="onSubmit()"
        [formGroup]="loginForm"
        #loginFormId="ngForm"
      >
        <div class="login-logo">
          <img src="./assets/mypay-logo.png" alt="MyPay logo" />
        </div>

        <div class="login-heading">
          <h3 class="login-form-title">Login</h3>
          <p>Welcome! Log in to your MyPay account</p>
        </div>

        <div *ngIf="loginError" class="validation_error">
          
            {{errorMessage}}
          
        </div>

        <div class="wrap-input validate-input" data-validate="Enter password">
          <input
            class="input"
            type="text"
            name="username"
            formControlName="username"
            [class.has-val]="loginForm.get('username')?.value.length"
          />
          <span class="focus-input" data-placeholder="UserName"></span>
          <small
              class="err_msg"
              *ngIf="
                username &&
                username.invalid &&
                (username.touched || loginFormId.submitted)"
            >
              Please enter valid username.
            </small>
        </div>

        <div class="wrap-input validate-input" data-validate="Enter password">
          <input
            class="input"
            type="password"
            name="password"
            formControlName="password"
            [class.has-val]="loginForm.get('password')?.value.length"
          />
          <span class="focus-input" data-placeholder="Password"></span>
          <small
              class="err_msg"
              *ngIf="
                password &&
                password.invalid &&
                (password.touched || loginFormId.submitted)"
            >
              Please enter valid password.
            </small>
        </div>

        <div class="form-check remember_me_wrap">
          <input
            type="checkbox"
            id="remember_me"
            class="form-check-input"
          /><label for="remember_me" class="form-check-label"
            >Remember Me</label
          >
        </div>

        <div class="container-login-form-btn">
          <div class="wrap-login-form-btn">
            <div class="login-form-bgbtn"></div>
            <button class="login-form-btn">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
