td.mat-cell,
th.mat-header-cell {
    word-break: break-all;
    padding: 8px 10px;

}
.header-back-icon{
    color: #fff;
    position: absolute;
    left: 0;
    top: -50%;
}
.header-back-icon span{
    font-size: 30px;
}