<div class="dialog-header">
    <h4 mat-dialog-title>Update Company</h4>
  </div>
  <form [formGroup]="editClientForm" (ngSubmit)="updateClient()">
    <div class="dialog-content" mat-dialog-content>
      <table class="full-width" cellspacing="10px">
        <tr>
          <td colspan="2">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Company Name</mat-label>
              <input
                matInput
                placeholder="Eg: Smart Card Nepal"
                formControlName="companyName"
              />
              <mat-error *ngIf="companyName && companyName.hasError('required')">
                Company Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </td>
         
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                placeholder="email@mail.com"
                formControlName="email"
          
              />
              <mat-error *ngIf="email && email.hasError('email') && !email.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="email && email.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
           
          </td>
          <td>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Phone</mat-label>
              <span matPrefix>+977 &nbsp;</span>
              <input
                type="tel"
                matInput
                placeholder="9851000000"
                formControlName="phoneNumber"
              />
              <mat-error *ngIf="phoneNumber && phoneNumber.hasError('required')">
                Phone is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
    
        <tr>
          <td colspan="2">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Address</mat-label>
              <textarea
                matInput
                placeholder="Radhe Radhe, Bhaktapur..."
                formControlName="address"
              ></textarea>
            </mat-form-field>
          </td>
        </tr>

        <tr>
            <td colspan="2">
                <h4 class="select_role_heading">Status</h4>
                <mat-slide-toggle
                formControlName="status"
              >
              
              </mat-slide-toggle>
            </td>
        </tr>
        <tr class="">
          <td colspan="2">
            <section class="section">
              <h4 class="select_role_heading">Select Role:</h4>
              <mat-radio-group formControlName="role">
                <mat-radio-button class="mr20" value="admin"
                  >Admin</mat-radio-button
                >
                <mat-radio-button [checked]="true" class="mr20" value="client"
                  >Client</mat-radio-button
                >
             
              </mat-radio-group>
            </section>
          </td>
        </tr>
      </table>
    </div>
    <div class="dialog-footer" mat-dialog-actions>
      <button mat-button mat-dialog-close class="mr20">Close</button>
      <button class="btn-create" type="submit">Update</button>
    </div>
  </form>
  