$body-font:"Poppins", sans-serif;
$heading-font: 'Playfair Display', serif;
$primary-color: #e45415;
$primary-tint-color: #e98724;
$accent-color: #f1b307;
$table-blue-bg: rgb(2, 69, 95);
$light-bg: #f2f2f2;
$font-color: #555;
$font-color-light: #999;
$input-border-color: #adadad;
$login-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);