/* You can add global styles to this file, and also import other style files */

@import "variables";


html,
body {
  height: 100%;
  margin: 0;
  font-family: $body-font !important;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font !important;
}
img {
  max-width: 100%;
}
h1{
  font-size: 3em !important;
  line-height: 1.5em !important;
}
h2{
  font-size: 2.5em !important;
  line-height: 1.5em !important;
}
h3{
  font-size: 2em !important;
  line-height: 1.5em !important;
}
a{
  color: $table-blue-bg;
}

/*
General 
*/

.err_msg {
  color: red;
  font-size: 12px;
  position: absolute;
  bottom: -22px;
}
.validation_error {
  background: #ff000022;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
  top: -15px;
  margin: 10px 0;
  font-size: 14px;
  color: red;
}
.mat-header-cell{
  background: $table-blue-bg;
  color: #fff;
}
.mat-table{
  font-family: $body-font !important;
}

.material-icons{
  font-size: 22px;
}
.material-icons.delete{
  color: red;
}
.material-icons{
  font-size: 22px;
}
.wrap{
  width: 1000px;
  margin: 0 auto;
}

/* CSS */
.btn-create {
  align-items: center;
  background-image: linear-gradient(135deg, $primary-color 40%, $primary-tint-color);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 20px;
}

.btn-create:active {
  outline: 0;
}

.btn-create:hover {
  outline: 0;
}

.btn-create span {
  transition: all 200ms;
}

.btn-create:hover span {
  transform: scale(.9);
  opacity: .75;
}

.btn,
button,
input[type="button"],
input[type="submit"]{
  background: #ddd;
  display: inline-block;
  text-decoration: none;
  padding: 14px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover{
  background: #ccc;
}

.mat-dialog-container{
  padding-bottom: 40px;
}

@media screen and (max-width: 991px) {
  .btn-create {
    font-size: 15px;
    height: 50px;
  }

  .btn-create span {
    line-height: 50px;
  }
}

