.container{
    background: #eee;
    padding: 40px 0;
    
}
.data-table{
    width: 100%;
}
.page-title{
    position: relative;
}
.page-title .btn-create{
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 45px;
}

.page-title .btn-create .material-icons {
    font-size: 34px;
    position: absolute;
    top: 16px;
    left: 10px;
}